<div class="row">
  <div class="col-md-12">
    <%= render_title 'faq' %>

    <%= render_blob 'faq', 'contents', markdown: true %>

    <hr />

    <ul>
      <% @faqs.each do |faq| %>
        <li>
          <%= link_to faq.question, '#' + faq.id.to_s %>
        </li>
      <% end %>
    </ul>

    <hr />

    <ul>
      <% @faqs.each do |faq| %>
        <li>
          <a name="<%= faq.id.to_s %>"></a>
          <p><b><%= faq.question %></b></p>
          <p><%= markdown faq.answer %></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
