<div ng-controller="FaqController">
  <div class="row">
    <div class="col-md-12">
      <%= render_title 'faq' %>

      <%= render_blob 'faq', 'contents', markdown: true %>

      <hr />

      <ul>
        <% @faqs.each do |faq| %>
          <li>
            <%= link_to faq.question, {anchor: faq.id.to_s}, 'ng-click' => "selectFaq(#{faq.id})" %>
          </li>
        <% end %>
      </ul>

      <hr />

      <ul class="faqs">
        <% @faqs.each do |faq| %>
          <li ng-class="faqClass(<%= faq.id %>)">
            <a name="<%= faq.id.to_s %>"></a>
            <p><b><%= faq.question %></b></p>
            <p><%= markdown faq.answer %></p>
            <% if admin_signed_in? %>
              <a href="/admin/faq/<%= faq.id %>/edit">
                <i class="fa fa-edit"></i>
              </a>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
