<% if blob.present? %>
  <% if options[:markdown] %>
    <%= markdown blob.contents %>
  <% else %>
    <%= blob.contents %>
  <% end %>

  <% if admin_signed_in? %>
    <a href="/blobs/<%= blob.id %>/edit" class="fancybox" data-fancybox-type="ajax">
      <i class="fa fa-edit"></i>
    </a>
  <% end %>
<% elsif admin_signed_in? %>
  <p>
    <a href="/blobs/new?key=<%= key %>" class="fancybox" data-fancybox-type="ajax">
      <i class="fa fa-plus"></i>
    </a>
    Add blob for
    <strong><%= key %></strong>
  </p>
<% end %>
