<div class="blob">
  <h3 class="key">
    <span>
      Key: <%= @blob.key %>
    </span>
    <span class="pull-right">
      <small>
        <a href="https://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown docs</a>
      </small>
    </span>
  </h3>

  <%= simple_form_for(@blob, html: { class: 'form-horizontal blob' }) do |form| %>
    <%= form.input :key, as: :hidden %>
    <%= form.input :contents, label: false, input_html: { rows: 15, cols: 100 } %>

    <%= form.submit class: 'btn' %>
  <% end %>
</div>
