<% content_for :header do %>
  <h1 class="welcome text-center">
    <%= render_blob 'welcome', 'header' %>
  </h1>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= render_title 'welcome' %>

    <div class="text-center">
      <%= render_blob 'welcome', 'contents', markdown: true %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <%= render_news_item @news_item_1 %>
  </div>

  <div class="col-md-4">
    <%= render_news_item @news_item_2 %>
  </div>

  <div class="col-md-4">
    <%= render_news_item @news_item_3 %>
  </div>
</div>
