<%= render_title 'news_items' %>

<%= render_blob 'news_items', 'contents', markdown: true %>

<% @news_items.each do |news_item| %>
  <div class="news-item">
    <h2><%= news_item.title %></h2>
    <p><%= truncate news_item.description, length: 500 %></p>
    <%= link_to 'Läs mer', news_item, class: 'btn btn-primary' %>
  </div>
<% end %>
