<%= render_title 'news_items' %>

<%= render_blob 'news_items', 'contents', markdown: true %>

<% @news_items.each do |news_item| %>
  <div class="news-item">
    <h2><%= news_item.title %></h2>
    <p>Publicerad: <%= news_item.publish_at %></p>
    <p><%= markdown news_item.description %></p>
    <%= link_to 'Läs mer', news_item, class: 'btn btn-primary btn-xs' %>
    <% if admin_signed_in? %>
      <a href="/admin/news_item/<%= news_item.id %>/edit" class="btn btn-primary btn-xs">
        <i class="fa fa-pencil"></i>
      </a>
    <% end %>
  </div>
<% end %>
