<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">
      <%= @news_item.title %>
    </h1>

    <p>
      Publicerad: <%= @news_item.publish_at %>
    </p>

    <p>
      <%= markdown @news_item.description %>
    </p>
  </div>
</div>

<%= link_to 'Visa alla nyheter', news_items_path, class: 'btn btn-primary btn-xs' %>
<% if admin_signed_in? %>
  <a href="/admin/news_item/<%= @news_item.id %>/edit" class="btn btn-primary btn-xs" ng-hide="previewMode">
    <i class="fa fa-pencil"></i>
  </a>
<% end %>
